*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: #e6dfdf;
    display: flex;
    flex-direction: column;
    gap: 1em;
    .Cabezal {
        display: flex;
        align-items: center;
        background-color: #eca221;
        height: 40vh;
        width: 100vw;
        .Cuadrado_izq {
           padding: 4em;
            background-color: #9e630b; 
            height: 40%; 
        }
      }

}

