* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 0;
  }

  
  .cabezal {
    display: flex;
    align-items: center;
    background-color: #eca221;
    height: 40vh;
    width: 100%;
    padding: 2em 5em;
    gap: 3em;
  }
  
  .cuadrado_izq {
    width: 130px;
    height: 130px;
    background-color: #9e630b;
    margin-left: 5em;
  }

  .texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5em;
  
  }
  
  .barra-naranja {
    height: 20px;
    width: 200px;
    background-color: rgb(252, 195, 10);
  }
  
 
  
  .EspacioMedio {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5em;
  padding:2em;
  max-width: 600px; /* Esto forza que se pasen a dos filas */
  margin: 0 auto;
  }
  
  .cuadro {
    width: 120px;
    height: 120px;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  

  .cuadro:nth-child(1) {
    background-color: #8ed4e7; 
  }
  .cuadro:nth-child(2) {
    background-color: #ee886c;
  }
  .cuadro:nth-child(3) {
    background-color: #d4aa37; 
  }
  .cuadro:nth-child(4) {
    background-color: #ebc04c; 
  }
  .cuadro:nth-child(5) {
    background-color: #8ed4e7; 
  }
  .cuadro:nth-child(6) {
    background-color: #ee886c;
  }
  
  .pie {
    display: flex;
    justify-content: space-around;
    background-color: #bbb8b8;
    padding: 3em 1em;
  }
  
  .columna {
    width: 100px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 4px;
  }
  

